# NAME - TULIKA DAS

In [93]:
import pandas as pd

In [94]:
# importing csv files
content = pd.read_csv("D:/Tulika/VIT AP 23-25/internship/FORAGE_ACCENTURE/Content.csv")
reactions = pd.read_csv("D:/Tulika/VIT AP 23-25/internship/FORAGE_ACCENTURE/Reactions.csv")
reaction_type = pd.read_csv("D:/Tulika/VIT AP 23-25/internship/FORAGE_ACCENTURE/ReactionTypes.csv")

In [95]:
# view of first five rows of the data
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food

In [96]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [97]:
reaction_type.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [98]:
# information about the datasets
content.info(),reactions.info(),reaction_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

(None, None, None)

In [99]:
# dropping column 'Unnamed:0' from the datasets
content = content.drop('Unnamed: 0', axis = 1)

In [100]:
reactions = reactions.drop('Unnamed: 0', axis = 1)

In [101]:
reaction_type = reaction_type.drop('Unnamed: 0', axis = 1)

In [102]:
# removing null values (if any)
content.isnull().sum()

Content ID    0
User ID       0
Type          0
Category      0
dtype: int64

In [103]:
reactions.isnull().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [104]:
reactions.dropna(how = 'any')

,Content ID,User ID,Type,Datetime
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,9b6d35f9-5e15-4cd0-a8d7-b1f3340e02c4,interested,2020-08-23 12:25:58
...,...,...,...,...
25547,75d6b589-7fae-4a6d-b0d0-752845150e56,b6d04982-1509-41ab-a700-b390d6cb4d02,worried,2020-10-31 04:50:14
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [105]:
reaction_type.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [109]:
# removing column 'User ID'(not required for analysis)
content = content.drop('User ID',axis =1)

In [107]:
reactions = reactions.drop('User ID',axis = 1)

In [110]:
# Renaming the columns for the datasets
content.rename(columns = {'Type': 'content type'},inplace = True)
reactions.rename(columns = {'Type': 'reaction type'},inplace = True)
reaction_type.rename(columns = {'Type': 'reaction type', 'Score': 'reaction score'},inplace = True)

In [111]:
content.Category.value_counts()

Category
technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: count, dtype: int64

In [112]:
# Changing the type of some values within the column
content['Category'] = content['Category'].str.replace('"','')

In [113]:
content.Category.value_counts()

Category
technology         72
animals            68
travel             67
culture            66
science            64
food               62
healthy eating     61
cooking            61
soccer             61
fitness            61
tennis             59
dogs               58
education          57
studying           56
veganism           49
public speaking    49
Fitness             5
Animals             4
Science             4
Soccer              3
Food                2
Studying            2
Education           2
Travel              2
Technology          1
Culture             1
Healthy Eating      1
Veganism            1
Public Speaking     1
Name: count, dtype: int64

In [125]:
# Merging all 3 datasets into one 
reaction_merged = pd.merge(reactions, reaction_type, on = 'reaction type', how = 'inner')
content_merged = pd.merge(content,reaction_merged, on = 'Content ID',how = 'inner')

In [126]:
reaction_merged.head()

,Content ID,reaction type,Datetime,Sentiment,reaction score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,negative,0

In [127]:
content_merged.head()

,Content ID,content type,Category,reaction type,Datetime,Sentiment,reaction score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-04-09 02:46:20,negative,0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2020-11-09 02:49:59,negative,10

In [131]:
content_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Content ID      24573 non-null  object
 1   content type    24573 non-null  object
 2   Category        24573 non-null  object
 3   reaction type   24573 non-null  object
 4   Datetime        24573 non-null  object
 5   Sentiment       24573 non-null  object
 6   reaction score  24573 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [134]:
content_merged.to_excel('Cleaned data.xlsx', index = False)
content_merged.to_csv('Cleaned data.csv', index = False)

In [136]:
# Load the cleaned dataset into a Pandas DataFrame
df = pd.read_csv('Cleaned data.csv') 

# Calculate the top 5 categories by frequency
top_categories = df['Category'].value_counts().head()

# Create a Pandas Excel writer
with pd.ExcelWriter('Final Dataset.xlsx') as writer:
    # Write the cleaned dataset to the first sheet
    df.to_excel(writer, sheet_name='Cleaned data', index=False)
    
    # Write the top 5 categories to a separate sheet
    top_categories.to_excel(writer, sheet_name='Top 5 Categories')